/** Font Color **/
$text-primary: #1b234d;
$text-secondary: #868db3;
$text-minor: #999;
$text-money: #0b52d1;

$green: #1aad19;
$white: #fff;
$black: #000;

$success-color: #00b87a;
$warning-color: #ff7700;
$error-color: #f5190a;

/** Z-index **/
$z-index-mask: 10001;
$z-index-over-mask: 10002;
